<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.rongcloud.imlib.react">
    <application>
        <receiver
            android:name=".RCPushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
